.TimetableInfoPage-row {
  display: flex;
  flex-wrap: wrap;
}

.BottomButtons {
  margin-top: 2%;
  margin-left: 15%;
}

.BottomButtons--Instructions {
  margin-left: 13%;
  text-align: justify;
  max-width: 30rem;
}

.words {
  display: flex;
  flex-wrap: wrap;
}

.clipboard-bar {
  margin: 0 12.5%;
}

.link-button {
  margin-left: 31%;
}
