h2 {
  text-align: center;
}

.add-edit-buttons {
  margin-left: 80%;
}

.divider {
  width: 10px;
  display: inline-block;
}

@media (max-width: 1097px) {
  .add-edit-buttons {
    margin-left: 78%;
  }
}

@media (max-width: 997px) {
  .add-edit-buttons {
    margin-left: 75%;
  }
}

@media (max-width: 879px) {
  .add-edit-buttons {
    margin-left: 5%;
  }
}
