/* The popup form - hidden by default */
.form-popup {
  display: none;
  background-color: cornflowerblue;
  position: fixed;
  padding: 1rem;
  top: 37%;
  margin-left: 30%;
  border: 3px solid #ddd;
  z-index: 9;
}

.form-popup form button {
  margin: 0.3rem;
  font-size: 12px;
  padding: 5px;
  max-height: 30px;
}

.form-popup form input {
  margin: 0.3rem;
  font-size: 15px;
  padding: 5px;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
