/* .module-header {
  padding-top: 2rem;
  padding-left: 20%;
  text-align: left;
}

.input-container {
  margin-left: 25%;
}

.module-side {
  flex: 50%;
  max-width: 100%;
}

.overload-side {
  flex: 50%;
  max-width: 100%;
}

.overloading-buttons {
  padding-top: 15%;
  padding-left: 15%;
}

.extramodsButton {
  padding: 3%;
}

.nextButton {
  padding-top: 15%;
  padding-left: 50%;
} */
