/* .input-container input {
  margin-left: 1%;
}

.createButton {
  padding-top: 60%;
  padding-left: 50%;
}

.moduleInput-seperator {
  display: flex;
  flex-wrap: wrap;
}

.module-side {
  flex: 50%;
  max-width: 100%;
}

.preference-side {
  flex: 50%;
  max-width: 100%;
} */
